*.pyc
/Tests/JuliaNativo/build/
/Tests/JuliaNativo/dist/
/Tests/JuliaNativo/nbproject/private

/Tests/EncapsuladoCam/build/
/Tests/EncapsuladoCam/dist/
/Tests/EncapsuladoCam/nbproject/private/

/Tests/TriangulacionWrapper/nbproject/private/
/Tests/TriangulacionWrapper/build/
/Tests/TriangulacionWrapper/dist/

/Tests/FakeChild/nbproject/private/
/Tests/FakeChild/build/
/Tests/FakeChild/build/

/Gava/nbproject/private/
/Gava/build/
/Gava/dist/

/ClientePC/nbproject/private/
/ClientePC/build/
/ClientePC/dist/

/LocaviewerAdmin/nbproject/private/
/LocaviewerAdmin/build/
/LocaviewerAdmin/dist/

/ServerAuth/nbproject/private/
/ServerAuth/build/
/ServerAuth/dist/

/DDStheus/nbproject/private/
/DDStheus/build/
/DDStheus/dist/

rti_license.dat
/Tests/FakeChild/dist/
/Tests/Servidor/nbproject/private/
/Tests/Servidor/build/
