*.pyc
/Tests/JuliaComm/nbproject/private/
/Tests/JuliaComm/build/
/Tests/JuliaComm/dist/
/Tests/JuliaNativo/build/
/Tests/JuliaNativo/dist/
/Tests/JuliaNativo/nbproject/private
/Tests/EncapsuladoCam/build/
/Tests/EncapsuladoCam/dist/
/Tests/EncapsuladoCam/nbproject/private/
/Tests/TriangulacionWrapper/nbproject/private/
/Tests/TriangulacionWrapper/build/
/Tests/SensorWrapper/nbproject/private/
/Tests/SensorWrapper/dist/
/Tests/SensorWrapper/build/
Gava/nbproject/private/
/Tests/BlueJava/nbproject/private/
Gava/build/
Gava/dist/
/ClientePC/nbproject/private/
/ClientePC/build/